__pycache__/
*.py[codz]
*.so

.env
.venv/
venv/
env/

.ipynb_checkpoints/

.vscode/

*.log

*.keras
*.h5
*.ckpt
checkpoints/

*.zip
*.tar
*.gz

galaxy_3class/
galaxy_split/

tempCodeRunnerFile.py

.DS_Store
Thumbs.db
